<style>
   #hello-msg{
     font-size: 18px;
     color:#ffff;
     margin-right:20px;
     padding:10px;
   }   
 </style>
 <div class="main">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul class="nav nav-tabs">       
    {% if request.user.username %}
    <li class="nav-item">
       <!--<a class="nav-link active" aria-current="page" href="#">TweetBoard</a>-->
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Home</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Polling</a>
     </li>
     </li>
   </ul>
  </div>
 </div>
 <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
 
   <span id="hello-msg">Hello,{{request.user.username |default:'Guest_or_admin'}}</span>
   <span id="hello-msg"><a href="{% url 'logout' %}">Logout</a></span>
     
   {% endif %}
  </nav>


 </div>
