{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section>
        <a href="{% url 'socials:dashboard' %} "></a>
        <section class="hero is-small is-success mb-4">
            <div class="hero-body">
                <h1 class="title is-1">Social Network</h1>
                <p class="subtitle is-4">
                    Your tiny social network built with Django                   
                </p>
            </div>            
        </section>
    </section>
    <div class='container'>
        <div class="container">
            {% for followed in user.profile.follows.all %}
            {% for socialtweet in followed.user.socialtweet.all %}
            <!--<li>{{social.user.username}} ({{ socialtweet.created_at }}): {{ socialtweet.body }}</li>-->
            {% endfor %}
            {% endfor %}
            <div class="columns">    
                {% block content %}
                <div class="column">
                    {% for followed in user.profile.follows.all %}
                    {% for socialtweet in followed.user.socialtweet.all %}
                    <div class="box">
                     
                        {{ socialtweet.body }}
                        <span class="is-small has-text-grey-light">
                    ({{ socialtweet.created_at }} by {{ socialtweet.user.username }}
                </span>
            </div>
        {% endfor %}
    {% endfor %}
    {% endblock %}
    </div>    
        
</html>